version: "3.9"

networks:
  ebm:
    driver: bridge

volumes:
  expressSequelizeTSRedisData:
    name: expressSequelizeTSRedisData
  expressSequelizeTSMySQLData:
    name: expressSequelizeTSMySQLData

services:
  redis:
    container_name: expressSequelizeTSRedis
    image: redis:6.2.1-alpine
    ports:
      - "6380:6379"
    volumes:
      - expressSequelizeTSRedisData:/data
    networks:
      - ebm

  mySQL:
    container_name: expressSequelizeTSMYSQL
    image: mysql:8.0
    volumes:
      - expressSequelizeTSMySQLData:/var/lib/mysql
      - "./Docker/mySQL/my.cnf:/etc/mysql/conf.d/my.cnf"
    command: mysqld --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: core2duo
      MYSQL_DATABASE: expressSequelizeTS
      MYSQL_USER: estUser
      MYSQL_PASSWORD: estPassword
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"
    networks:
      - ebm

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: expressSequelizeTSPhpmyadmin
    links:
      - mySQL
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 8083:80
    networks:
      - ebm
  # adminer:
  #   container_name: adminer
  #   image: adminer
  #   depends_on:
  #     - mySQL
  #   environment:
  #     ADMINER_DEFAULT_DB_DRIVER: mySQL
  #     ADMINER_DEFAULT_DB_HOST: mySQL
  #     ADMINER_DEFAULT_DB_NAME: adminer
  #     ADMINER_DESIGN: nette
  #     ADMINER_PLUGINS: tables-filter tinymce
  #   ports:
  #     - 8080:8080
  #   networks:
  #     - ebm
