version: "3.9"

networks:
  ebm:
    driver: bridge

volumes:
  estRedisVolume:
    name: estRedisVolume
  estMySQLVolume:
    name: estMySQLVolume
  estElasticSearchVolume:
    name: estElasticSearchVolume

services:
  redis:
    container_name: estRedis
    image: redis:6.2.1-alpine
    ports:
      - "6380:6379"
    volumes:
      - estRedisVolume:/data
    networks:
      - ebm

  mySQL:
    container_name: estMySQL
    image: mysql:8.0
    volumes:
      - estMySQLVolume:/var/lib/mysql
      - "./Docker/mySQL/my.cnf:/etc/mysql/conf.d/my.cnf"
    command: mysqld --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: core2duo
      MYSQL_DATABASE: tsBoilerPlate
      MYSQL_USER: tsBoilerPlateUser
      MYSQL_PASSWORD: tsBoilerPlatePassword
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"
    networks:
      - ebm

  phpmyadmin:
    container_name: estPhpmyadmin
    image: phpmyadmin/phpmyadmin
    links:
      - mySQL
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 9001:80
    networks:
      - ebm
  # adminer:
  #   container_name: adminer
  #   image: adminer
  #   depends_on:
  #     - estMySQL
  #   environment:
  #     ADMINER_DEFAULT_DB_DRIVER: estMySQL
  #     ADMINER_DEFAULT_DB_HOST: estMySQL
  #     ADMINER_DEFAULT_DB_NAME: adminer
  #     ADMINER_DESIGN: nette
  #     ADMINER_PLUGINS: tables-filter tinymce
  #   ports:
  #     - 9002:8080
  #   networks:
  #     - ebm

  #https://www.elastic.co/guide/en/elasticsearch/reference/7.5/docker.html
  elasticsearch:
    container_name: estElasticSearch
    image: docker.elastic.co/elasticsearch/elasticsearch:8.1.1
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
    volumes:
      - estElasticSearchVolume:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - ebm
